<div class="highlights-toolbar">

    <!-- TITLE -->
    <h5 class="toolbar-title">
        Highlighted attributes
    </h5>
    <!-- ./TITLE -->

    <!-- TAGS LIST -->
    <mat-chip-list >
        <mat-chip *ngFor="let attr of attributes"
                  (removed)="onAttributeRemoveIconClicked(attr)">

            {{attr.name}}

            <mat-icon matChipRemove
                      fontSet="fa"
                      matTooltip="Remove"
                      fontIcon="fa-times">
            </mat-icon>
        </mat-chip>
    </mat-chip-list>
    <!-- ./TAGS LIST -->

    <!-- LEGEND -->
    <div class="legends-list">
        <div class="legend" *ngFor="let legend of lineageGraphLegend">

            <div class="legend__circle"
                 [ngStyle]="{background: legend.color}">
            </div>

            <div class="px-2 flex-grow-1">
                {{legend.title}}
            </div>

            <mat-icon fontSet="fa"
                      fontIcon="fa-info-circle"
                      [matTooltip]="legend.description">
            </mat-icon>
        </div>
    </div>
    <!-- ./LEGEND -->

</div>
