---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #303d42;
}
#header_wrap img {
  margin-left: -20px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

.menu-bar {
  display: inline-flex;
  width: 100%;
}

.menu-item {
  width: 50px;
  padding: 12px 50px;
  font-size: 25px;
  color: lightgrey;
  margin: 5px 0;
}

.menu-item-active {
  border-bottom: 4px solid #e0e0e0;
}

#subscribe {
  text-align: right;
}