<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.png">
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
</head>

<body>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <img src="./assets/images/spline-logo-dark.png" width="400" />
      {% if site.github.is_project_page %}
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
      {% endif %}

      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <div id="navigation">
        <nav id="navbar" class="collapse navbar-collapse nav-collapse ">
          <ul class="nav navbar-nav">
            {% assign links = site.data.navigation %}
            {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
            {% assign class = 'active' %}
            {% assign defaultVersion = site.version %}
            {% endif %}
            {% assign docVersionSplited = page.url | split: '.html' %}
            {% assign docVersion = docVersionSplited[0] | replace_first: "/", "" | replace_first: "blog", "" %}
            {% if link.sublinks %}
            <li class="dropdown {{ class }}">
              {% if link.title == 'Documentation' %}
              <a class="no-decoration inactiveLink" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle"
                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} - v
                {{ docVersion | default: defaultVersion}} <span class="caret"></span>
              </a>
              {% endif %}
              <ul class="dropdown-menu">
                {% for sublink in link.sublinks %}
                {% if sublink.title == 'separator' %}
                <li role="separator" class="divider"></li>
                {% else %}
                <li>
                  <a class="no-decoration"
                    href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="{{ class }}">
              <a class="no-decoration" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>

      {% if site.show_downloads %}
      <section id="downloads">
        <a class="zip_download_link"
          href="https://github.com/AbsaOSS/spline/archive/release/{{ docVersion | default: defaultVersion}}.zip">Download
          this
          project as a .zip file</a>
        <a class="tar_download_link"
          href="https://github.com/AbsaOSS/spline/archive/release/{{ docVersion | default: defaultVersion}}.tar.gz">Download
          this
          project as a tar.gz file</a>
      </section>
      {% endif %}

    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a
          href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <a class="no-decoration" href="https://github.com/AbsaOSS/spline">Powered by Spline</a>>
    </footer>
  </div>

  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>